
/*****************************************FONT*/

@font-face {
 font-family: "Buckerley";
 src: url("/font/Buckerley.ttf");
}

h2, .promo h3{
	font-family: 'Buckerley', cursive;
	text-shadow: 0px 1px 1px grey;
	
}

h2{
	color: #14213D;
}

.titre{
	color: #FCA311;
}

.btn a{
	font-family: 'Buckerley', cursive;
}

.avis p{
	font-size: 40px;
	font-family: 'Buckerley', cursive;
}

footer strong{
	font-size: 20px;
	text-shadow: 0px 1px 1px grey;
}

.bg-img2 h2{
	text-shadow: 0px 2px 2px white;
	color: white;
}

.bgimg h2{
	color: white;
}

/*****************************************Couleurs*/

.bg-orange{
	background-color: #FCA311;
}

.bg-bleu{
	background-color: #14213D;
}

.bg-gris{
	background-color: #E5E5E5;
}

.color-orange{
	color: #FCA311;
}

.bg-img2{
	background: url(images/bg1.jpg) no-repeat right;
	background-size: cover;
}

.h2nav{
	color: #FCA311;
	border-bottom: 1px solid #E5E5E5;
}


body a{
	text-decoration: none;
	color: black;
}

.produits a:hover{
	color: black;
}

.produits .stars{
	color: #FCA311;
}
.produits .stars:hover{
	color: #14213D;;
}


footer a{
	color: white;
}

body a:hover{
	color: #FCA311;
}

.questions a{
	color: #14213D;
}

.questions a:hover{
	color: white;
}

.avistext i{
	color: #E5E5E5;
}

.avis i{
	color: #FCA311;
}

.servs a{
	color: white;
}
.servs a:hover{
	color: #FCA311;
}

.engagement i{
	color: #14213D;
}

/***********************************************************Background*/

.bgimg{
	background: url(images/bg.jpg) no-repeat center;
	background-size: cover;
	height: 600px;
}

.img1{
	background: url(images/produit2.png) no-repeat center;
	background-size: cover;
	height: 70px;
	width: 70px;
}

.img2{
	background: url(images/gamelle.jpg) no-repeat center;
	background-size: cover;
	height: 70px;
	width: 70px;
}

.prix{
	background-color: #14213D;
	width: 350px;
	font-size: 50px;
}

.btnlink:hover{
	background-color: #14213D !important;
	color: #FCA311 !important;
}

.imgprofil{
	background: url(images/dog.png) no-repeat center;
	background-size: cover;
	height: 180px;
	width: 180px;
	border-radius: 50%;
}


/***********************************************************Border*/

.rounded-5{
	border-radius: 30px;
}

.rounded-b{
	border-radius: 0px 20px 20px 0px !important;
}

.rounded-t{
	border-radius: 20px 0px 0px 20px !important;
}

.produits h3{
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}

.choixanimaux{
	border:none;
}

.promo h3::after{
	content: "";
	display: block;
	background-color: white;
	height: 1px;
	width: 80%;
	margin: auto;
}

.lignebot::after{
	content: "";
	display: block;
	background-color: white;
	height: 1px;
	width: 100%;
	margin: auto;
}

.lignebotb::after{
	content: "";
	display: block;
	background-color: #14213D;
	height: 1px;
	width: 100%;
	margin: auto;
}


.lignetop::before{
	content: "";
	display: block;
	background-color: white;
	height: 1px;
	width: 100%;
	margin: auto;
}

.promo strong{
	border: 2px dashed white;
	border-radius: 10px;
	font-size: 30px;
	font-family: 'Buckerley', cursive;
}

.carousel{
	min-height: 300px !important;
}

.carousel{
	display: flex;
	align-items: center;
}

.carousel .row{
	align-items: center;
}

.validation{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: green;
}

.border-bottom{
	border-bottom: 2px solid white !important;
}

/*****************************************NAV*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    /* color: #fff; */
    background-color: #ffffff;
}

.nav2{
	background-color:#E5E5E5;
}

.produits{
	width: 400px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(20 33 61) !important;
}


nav h2{
	font-size: 20px;
}

nav a{
	color:  #14213D;
}

nav a:hover{
	color: #FCA311;
}
nav a h2:hover{
	color: #FCA311;
}

.nav3 h2{
	font-size: 30px;
}

/***********************************************************Buttons*/

.btn-blue{
	background-color: #14213D !important;
	color: #E5E5E5 !important;
}

.btn-contourblue{
	border:2px solid #14213D !important;
}

.btn-blue:hover{
	background-color: #E5E5E5 !important;
	color: #14213D !important;

}

.btn-dark{
	background-color: #14213D !important;
}

.btn-dark:hover{
	background-color: #FCA311 !important;
	color: #14213D !important;
}

.btn-gris{
	background-color: #E5E5E5 !important;
	color: #14213D !important;
}

.btn-contourgris{
	border:2px solid #E5E5E5 !important;
}

.btn-gris:hover{
	background-color: #14213D !important;
	color: #E5E5E5 !important;

}

.btn-gris2{
	background-color: #E5E5E5 !important;
	color: #14213D !important;
}

.btn-contourgris2{
	border:2px solid #E5E5E5 !important;
}

.btn-gris2:hover{
	background-color: #FCA311 !important;
}

.btn-contourgris2:hover{
	border:2px solid #FCA311 !important;
}

.form-check-input:checked {
    background-color: #14213d !important; 
    border-color: #14213d !important;
}


/***********************************************************fixed*/

.paw{
	position: fixed;
	right: 10px;
	bottom: 10px;
}

/***********************************************************Responsive*/

@media screen and (min-width: 992px){
	.menu2{
    	height: 150px;
	}

	.borduredroite{
		border-right: 2px solid white;
	}

	.promo .carousel-item{
		height: 370px;
	}

	.titrepanier{
		display: block;
	}
}

@media screen and (max-width: 992px) and (min-width: 576px){
	.titrepanier{
		display: none;
	}
}

@media screen and (max-width: 576px){
	.titrepanier{
		display: none;
	}
}